<main class="sm:h-full flex flex-col p-6">
  <p class="text-[3em] font-bold text-purple-400 text-center ">
    Achievements
  </p>

  <section class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
 
    <div class=" rounded-2xl overflow-hidden z-10 p-3  text-white containers ">
      <div class="flex justify-center">
        <img
          src="assets/image/certificates/cert_pl.jpg"
          alt="Certification Image"
          class="sm:h-60 object-cover"
        />
      </div>
      <div class="p-4">
        <h2 class="text-xl font-semibold">Presidential Honor Lister</h2>
        <p class="text-sm text-white">STI College Caloocan</p>
        <p class="text-sm text-white mt-2">Date: march 2024</p>
      </div>
    </div>

     <div class=" rounded-2xl overflow-hidden z-10  p-3 text-white containers">
      <div class="flex justify-center">
        <img
          src="assets/image/certificates/cert_sap.jpg"
          alt="Certification Image"
          class="sm:h-60 sm:w-auto object-cover"
        />
      </div>
      <div class="p-4">
        <h2 class="text-xl font-semibold">SAP Business One</h2>
        <p class="text-sm text-white">STI College Caloocan</p>
        <p class="text-sm text-white mt-2">Date: jan 2022</p>
      </div>
    </div>

    <div class= "rounded-2xl overflow-hidden z-10  p-3 text-white containers">
      <div class="flex justify-center">
        <img
          src="assets/image/certificates/mu_cert.jpg"
          alt="Certification Image"
          class="sm:h-60  sm:w-auto  object-cover"
        />
      </div>
      <div class="p-4">
        <h2 class="text-xl font-semibold">Certificate for Attendance</h2>
        <p class="text-sm text-white">Malabon University</p>
        <p class="text-sm text-white mt-2">Date: sept 2022</p>
      </div>
    </div>

     <div class="rounded-2xl overflow-hidden z-10  p-3 text-white containers">
      <div class="flex justify-center">
        <img
          src="assets/image/certificates/Q2HR_cert.jpg"
          alt="Certification Image"
          class="sm:h-60 sm:w-auto object-cover"
        />
      </div>
      <div class="p-4">
        <h2 class="text-xl font-semibold">Certificate for Participation</h2>
        <p class="text-sm text-white">Q2HR Solution</p>
        <p class="text-sm text-white mt-2">Date: april 2024</p>
      </div>
    </div>


     <div class="rounded-2xl overflow-hidden z-10  p-3 text-white containers">
      <div class="flex justify-center">
        <img
          src="assets/image/certificates/oracle_cert.jpg"
          alt="Certification Image"
          class="sm:h-60 sm:w-auto  object-cover"
        />
      </div>
      <div class="p-4">
        <h2 class="text-xl font-semibold">Database Foundation</h2>
        <p class="text-sm text-white">Oracle Academy</p>
        <p class="text-sm text-white mt-2">Date: Aug 2022</p>
      </div>
    </div>

    <div class="rounded-2xl overflow-hidden z-10 p-3 text-white containers">
      <div class="flex justify-center">
        <img
          src="assets/image/certificates/huawai_cert.jpg"
          alt="Certification Image"
          class="h-60 sm:w-auto object-cover"
        />
      </div>
      <div class="p-4">
        <h2 class="text-xl font-semibold">Network Foundation</h2>
        <p class="text-sm text-white">Oracle Academy</p>
        <p class="text-sm text-white mt-2">Date: Aug 2022</p>
      </div>
    </div>

      <div class="rounded-2xl overflow-hidden z-10 p-3 text-white containers">
      <div class="flex justify-center">
        <img
          src="assets/image/certificates/retail_certificate.png"
          alt="Certification Image"
          class="sm:h-60 sm:w-auto  object-cover"
        />
      </div>
      <div class="p-4">
        <h2 class="text-xl font-semibold">Retail Intermediate</h2>
        <p class="text-sm text-white">Accenture</p>
        <p class="text-sm text-white mt-2">Date: Feb 2025</p>
      </div>
    </div>
    <!-- Add more cards as needed -->
  </section>
</main>
