

.image {
  width: 25%;
  height: 55%;
  border-radius: 100%;
  overflow: hidden;
  background: rgb(20, 19, 19);
  box-shadow: 0 0 50px rgb(127, 40, 177); 

}

.image,
.bio {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.image {
  animation: 
    fadeInLeft 1s ease-out forwards,
    shadowGlow 10s infinite alternate ease-in-out;
}

.bio.show {
  animation: fadeInRight 1s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes shadowGlow {
  0% {
    box-shadow: 0 0 50px rgb(127, 40, 177); /* purple */
  }
  25% {
    box-shadow: 0 0 50px rgb(180, 70, 200); /* softer violet */
  }
  50% {
    box-shadow: 0 0 50px rgb(0, 180, 255); /* aqua blue */
  }
  75% {
    box-shadow: 0 0 50px rgb(0, 47, 255); /* deep blue */
  }
  100% {
    box-shadow: 0 0 50px rgb(127, 40, 177); /* back to purple */
  }
}


@media (max-width: 768px) {
  .image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 90%;
    height: 55%;
  }
}