<main class="sm:h-screen h-full flex items-center justify-center overflow-hidden">
    <!-- Container for Title and Boxes -->
    <div class="sm:flex sm:flex-col w-full max-w-[90rem] p-6 h-full justify-center">
          <!-- Title Above First Box -->
        <p class="text-[40px] font-bold text-purple-400">Capabilities</p>
      <!-- 4 Box Section -->
      <div class="grid sm:grid-cols-3 grid-cols-1 gap-6">
        <div class="box text-white rounded-xl h-[39rem] sm:w-[25rem] w-screen z-10 hover:scale-105 transition-transform">
            <h1 class="text-center text-purple-400 font-bold">Software Developer</h1>
            <p class="text-justify text-lg">I am a software developer with experience in creating efficient and scalable applications, proficient in languages such as Java and C#. Throughout the years, I have gained expertise in various programming languages, frameworks, and software development practices. With a strong problem-solving mindset, I have worked on both web and mobile development, collaborating with diverse teams to deliver high-quality solutions. I continuously stay updated with emerging technologies to apply the latest advancements in each project. Driven by a passion for technology, I am always eager to learn and grow in the field.</p>
        </div>
        <div class="box text-white rounded-xl shadow-md h-[39rem] sm:w-[25rem] w-screen z-10 hover:scale-105 transition-transform ">
            <h1 class="text-center text-purple-400 font-bold">Web Developer</h1>
            <p class="text-justify text-lg">I am a web developer with experience in HTML, CSS, PHP, JavaScript, and TypeScript. I have worked extensively with frameworks such as Angular, React, Node.js, and Next.js. My expertise includes building responsive and dynamic web applications using these technologies. I continuously seek to improve my skills and stay up-to-date with the latest web development trends. Driven by a passion for web technologies, I enjoy creating seamless and efficient user experiences.</p>
        </div>
        <div class="box text-white rounded-xl shadow-md h-[39rem] sm:w-[25rem] w-screen z-10 hover:scale-105 transition-transform">
            <h1 class="text-center text-purple-400 font-bold">Freelancer</h1>
            <p class="text-justify text-lg">I have been freelancing since college, specializing in web and software systems development. Throughout my freelancing journey, I have collaborated with friends on various projects, combining our skills to deliver high-quality solutions. My freelance work has allowed me to build a diverse portfolio, from web applications to custom software systems. This experience has not only improved my technical abilities but also taught me how to manage projects independently. Freelancing has been a rewarding opportunity to grow professionally while contributing to the success of my clients.</p>
        </div>
      
      </div>
  
    </div>
  </main>
  