<main class="flex h-full justify-center pt-6 ">
  <div class="block">
    <p class="sm:text-[40px] text-[2rem] text-center font-bold text-purple-600">
      Experiences
    </p>

    <div class="relative w-[100rem]">
      <div class="map-line" aria-hidden="true"></div>

    <!-- 2018-2020 -->
<div class="map-step left" #step tabindex="0" aria-describedby="desc1">
  <div class="map-number">1</div>
  <div class="connector left"></div>
  <div class="map-detail" id="desc1">
    <h1>2018–2020</h1>
    <p class="font-bold">Mobile Application and Web Development (MAWD)</p>
  </div>
</div>

<!-- 2023 - Mini Capstone -->
<div class="map-step right" #step tabindex="0" aria-describedby="desc2">
  <div class="map-number">2</div>
  <div class="connector right"></div>
  <div class="map-detail" id="desc2">
    <h1>2023</h1>
    <p class="font-bold">Mini Capstone Project</p>
    <p>
      COMSIS: A COMPUTERIZED SALES AND INVENTORY SYSTEM FOR CENTRO MERCADO<br />
      <strong>Role:</strong> Programmer
    </p>
  </div>
</div>

<!-- 2023–2024 - Capstone -->
<div class="map-step left" #step tabindex="0" aria-describedby="desc3">
  <div class="map-number">3</div>
  <div class="connector left"></div>
  <div class="map-detail" id="desc3">
    <h1>2023–2024</h1>
    <p class="font-bold">Capstone Project</p>
    <p>
      OTS: AN ONLINE FLEET TRUCKING SYSTEM AND E-LOGISTIC MONITORING FOR MASBATE TRUCKING<br />
      <strong>Role:</strong> Programmer
    </p>
  </div>
</div>

<!-- 2023–2024 - Graduation -->
<div class="map-step right" #step tabindex="0" aria-describedby="desc4">
  <div class="map-number">4</div>
  <div class="connector right"></div>
  <div class="map-detail" id="desc4">
    <h1>2023–2024</h1>
    <p class="font-bold">Graduated Cum Laude</p>
    <p>
      Bachelor of Science in Information Technology (BSIT)<br />
      STI College Caloocan
    </p>
  </div>
</div>

<!-- 2024 - Geoplan -->
<div class="map-step left" #step tabindex="0" aria-describedby="desc5">
  <div class="map-number">5</div>
  <div class="connector left"></div>
  <div class="map-detail" id="desc5">
    <h1>2024</h1>
    <p class="font-bold">System Developer</p>
    <p>Geoplan Philippines Inc.</p>
    <p>
      Worked for 6 months as a System Developer, contributing to internal tools and streamlining workflows using modern web technologies.
    </p>
  </div>
</div>

<!-- 2024–2025 - Accenture -->
<div class="map-step right" #step tabindex="0" aria-describedby="desc6">
  <div class="map-number">6</div>
  <div class="connector right"></div>
  <div class="map-detail" id="desc6">
    <h1>2024–Present</h1>
    <p class="font-bold">Associate Software Engineer</p>
    <p>Accenture</p>
    <p>
        Currently employed as a Package Application Associate at the company, working on Retail Management Systems.
    </p>
  </div>
</div>


    </div>
  </div>
</main>
