<main class="sm:h-screen h-full flex items-center justify-center">
    <div class="sm:flex justify-evenly items-center flex-grow relative">
      <p class="sm:text-[40px] text-[2rem] text-center font-bold text-purple-400">Application Expertise</p>

        <div class="text-white rounded-xl h-[40rem] sm:w-[60rem] w-screen z-10 grid sm:grid-cols-5 grid-cols-3">
          <img src="assets/image/logo/angular.png" class="h-15 fade-in"> 
          <img src="assets/image/logo/react.png" class="h-15 fade-in">
          <img src="assets/image/logo/nest.png" class="sm:h-20 h-10 fade-in">
          <img src="assets/image/logo/nodejs.png" class="h-15 fade-in">
          <img src="assets/image/logo/javascript.png" class="h-20 fade-in">
  
          <img src="assets/image/logo/cscharp.png" class="h-20 fade-in">
          <img src="assets/image/logo/tailwind.svg" class="h-20 fade-in">
          <img src="assets/image/logo/andriodstudiologo.png" class="h-50 fade-in">
          <img src="assets/image/logo/PHPlogo.svg" class="sm:h-15 h-12 fade-in">
          <img src="assets/image/logo/javalogo.png" class="h-20 fade-in">
  
          <img src="assets/image/logo/bootstraplogo.png" class="h-30 fade-in">
          <img src="assets/image/logo/firebaselogo.png" class="sm:h-30 h-14 fade-in">
          <img src="assets/image/logo/tailwind.svg" class="h-20 fade-in">
          <img src="assets/image/logo/typescript.png" class="h-10 fade-in">
          <img src="assets/image/logo/mysqllogo.svg" class="h-20 fade-in">
  
          <img src="assets/image/logo/mariadb.png" class="h-20 fade-in">
          <img src="assets/image/logo/postgreSQLlogo.png" class="h-25 fade-in">
          <img src="assets/image/logo/gitlogo.png" class="h-30 fade-in">
          <img src="assets/image/logo/jenkinslogo.png" class="h-30 fade-in">
          <img src="assets/image/logo/dockerlogo.png" class="h-30 fade-in">
        </div>
      </div>

  </main>


  <div class=" bg-black">

  </div>
  