<main class="sm:h-screen h-full sm:w-auto w-screen flex items-center justify-center">
    <div class="justify-center items-center relative ">
      <p class="sm:text-[40px] text-[2rem] text-center font-bold text-purple-400">Application Expertise</p>

      <div class="text-white rounded-xl sm:w-[90rem] w-screen z-10 grid sm:grid-cols-5 grid-cols-1  place-items-center content">
        <img src="assets/image/logo/angular.png" class="h-12 fade-in"> 
        <img src="assets/image/logo/react.png" class="h-12 fade-in">
        <img src="assets/image/logo/nest.png" class="sm:h-12 h-10 fade-in">
        <img src="assets/image/logo/nodejs.png" class="h-12 fade-in">
        <img src="assets/image/logo/javascript.png" class="h-20 fade-in">
      
        <img src="assets/image/logo/cscharp.png" class="h-20 fade-in">
        <img src="assets/image/logo/tailwind.svg" class="h-20 fade-in">
        <img src="assets/image/logo/andriodstudiologo.png" class="sm:h-50 h-[10rem] fade-in">
        <img src="assets/image/logo/PHPlogo.svg" class="sm:h-20 h-12 fade-in">
        <img src="assets/image/logo/javalogo.png" class="h-20 fade-in">
      
        <img src="assets/image/logo/bootstraplogo.png" class="h-30 fade-in">
        <img src="assets/image/logo/firebaselogo.png" class="sm:w-[10rem] sm:h-[5rem]  h-14 fade-in">
        <img src="assets/image/logo/figma.png" class="h-10 fade-in">
        <img src="assets/image/logo/typescript.png" class="h-10 fade-in">
        <img src="assets/image/logo/mysqllogo.svg" class="h-20 fade-in">
      
        <img src="assets/image/logo/mariadb.png" class="h-20 fade-in">
        <img src="assets/image/logo/postgreSQLlogo.png" class="sm:h-25 h-[10rem] fade-in">
        <img src="assets/image/logo/gitlogo.png" class="sm:h-30 h-[10rem] fade-in">
        <img src="assets/image/logo/jenkinslogo.png" class="sm:h-30 h-[5rem] fade-in">
        <img src="assets/image/logo/dockerlogo.png" class="h-10 fade-in">
      </div>
      
      </div>

  </main>


  <div class=" bg-black">

  </div>
  