<main class="sm:h-screen h-full flex flex-col items-center justify-center">
  <p class="sm:text-[40px] text-[2rem] text-center font-bold text-purple-400">
    Application Expertise
  </p>
  <!-- <div class="relative flex justify-center items-center w-full"> -->
    
    <div
      class="box text-white rounded-xl sm:w-[95rem] h-auto w-full z-10 grid sm:grid-cols-3 grid-cols-1  sm:transition-transform"
    >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            
      <div class="titles place-items-center">
        <p class="text-2xl font-bold text-center">Web Development & Frameworks</p>

        <div class=" text-lg font-semibold grid grid-cols-2 gap-x-2">
          <div class="flex items-center gap-2">
            <div class="w-10 h-10 flex items-center justify-center">
              <img
                src="../../../assets/image/logo/angular.png"
                alt=""
                class="w-8 h-8"
              />
            </div>
            <p>Angular</p>
          </div>

          <div class="flex items-center gap-2">
            <div class="w-10 h-10 flex items-center justify-center">
              <img
                src="../../../assets/image/logo/React.png"
                alt=""
                class="w-8 h-8"
              />
            </div>
            <p>React</p>
          </div>

             <div class="flex items-center gap-2">
            <div class="w-10 h-10 flex items-center justify-center">
              <img
                src="../../../assets/image/logo/Bootstrap.png"
                alt=""
                class="w-8 h-8"
              />
            </div>
            <p>Bootstrap</p>
          </div>

           <div class="flex items-center gap-2">
            <div class="w-10 h-10 flex items-center justify-center">
              <img
                src="../../../assets/image/logo/Tailwind.png"
                alt=""
                class="w-9 h-8"
              />
            </div>
            <p>Tailwind</p>
          </div>

           <div class="flex items-center gap-2">
            <div class="w-10 h-10 flex items-center justify-center">
              <img
                src="../../../assets/image/logo/Sass.png"
                alt=""
                class="w-9 h-8"
              />
            </div>
            <p>Sass Css</p>
          </div>

          <div class="flex items-center gap-2">
            <div class="w-10 h-10 flex items-center justify-center">
              <img
                src="../../../assets/image/logo/Nest.svg"
                alt=""
                class="w-9 h-8"
              />
            </div>
            <p>Nest Js</p>
          </div>

            <div class="flex items-center gap-2">
            <div class="w-10 h-10 flex items-center justify-center">
              <img
                src="../../../assets/image/logo/express.png"
                alt=""
                class="w-9 h-8"
              />
            </div>
            <p>Express Js</p>
          </div>
          
          <div class="flex items-center gap-2">
            <div class="w-10 h-10 flex items-center justify-center">
              <img
                src="../../../assets/image/logo/php.png"
                alt=""
                class="w-10 h-8"
              />
            </div>
            <p>PHP</p>
          </div> 
          
           <div class="flex items-center gap-2">
            <div class="w-10 h-10 flex items-center justify-center">
              <img
                src="../../../assets/image/logo/fastapi.svg"
                alt=""
                class="w-8 h-8"
              />
            </div>
            <p>Fast API</p>
          </div> 

          <div class="flex items-center gap-2">
            <div class="w-10 h-10 flex items-center justify-center">
              <img
                src="../../../assets/image/logo/phyton.png"
                alt=""
                class="w-8 h-8"
              />
            </div>
            <p>Phyton</p>
          </div> 

          <div class="flex items-center gap-2">
            <div class="w-10 h-10 flex items-center justify-center">
              <img
                src="../../../assets/image/logo/javascript.png"
                alt=""
                class="w-8 h-8"
              />
            </div>
            <p>JavaScript</p>
          </div> 

            <div class="flex items-center gap-2">
            <div class="w-10 h-10 flex items-center justify-center">
              <img
                src="../../../assets/image/logo/typescript.png"
                alt=""
                class="w-8 h-8"
              />
            </div>
            <p>TypeScript</p>
          </div> 

        </div>
      </div>
      <div class="titles place-items-center">
        <p class="text-2xl font-bold text-center">Mobile & Software Development</p>

           <div class=" text-lg font-semibold grid grid-cols-2 gap-x-2">

            <div class="flex items-center gap-2">
            <div class="w-10 h-10 flex items-center justify-center">
              <img
                src="../../../assets/image/logo/java.png"
                alt=""
                class="w-14 h-14"
              />
            </div>
            <p>Java</p>
          </div>

            <div class="flex items-center gap-2">
            <div class="w-10 h-10 flex items-center justify-center">
              <img
                src="../../../assets/image/logo/csharp.png"
                alt=""
                class="w-14 h-14"
              />
            </div>
            <p>C-Sharp</p>
          </div>

          <div class="flex items-center gap-2">
            <div class="w-10 h-10 flex items-center justify-center">
              <img
                src="../../../assets/image/logo/React.png"
                alt=""
                class="w-8 h-8"
              />
            </div>
            <p>React Native</p>
          </div>


          <div class="flex items-center gap-2">
            <div class="w-10 h-10 flex items-center justify-center">
              <img
                src="../../../assets/image/logo/androidstudio.png"
                alt=""
                class="w-8 h-8"
              />
            </div>
            <p>Andriod Studio</p>
          </div>

        </div>



      </div>
      <div class="titles place-items-center">
        <p class="text-2xl font-bold text-center">Database Management & DevOps</p>
         <div class=" text-lg font-semibold grid grid-cols-2 gap-x-2">

            <div class="flex items-center gap-2">
            <div class="w-10 h-10 flex items-center justify-center">
              <img
                src="../../../assets/image/logo/mariadb.svg"
                alt=""
                class="w-14 h-14"
              />
            </div>
            <p>Maria DB</p>
          </div>

          <div class="flex items-center gap-2">
            <div class="w-10 h-10 flex items-center justify-center">
              <img
                src="../../../assets/image/logo/postgre.png"
                alt=""
                class="w-8 h-8"
              />
            </div>
            <p>Postgre SQL</p>
          </div>

           <div class="flex items-center gap-2">
            <div class="w-10 h-10 flex items-center justify-center">
              <img
                src="../../../assets/image/logo/Oracledb.png"
                alt=""
                class="w-14 h-10"
              />
            </div>
            <p>Oracle PL/SQL</p>
          </div>

           <div class="flex items-center gap-2">
            <div class="w-10 h-10 flex items-center justify-center">
              <img
                src="../../../assets/image/logo/docker.png"
                alt=""
                class="w-10 h-10"
              />
            </div>
            <p>Docker</p>
          </div>

            <div class="flex items-center gap-2">
            <div class="w-10 h-10 flex items-center justify-center">
              <img
                src="../../../assets/image/logo/jenkins.png"
                alt=""
                class="w-8 h-8"
              />
            </div>
            <p>Jenkins</p>
          </div>

           <div class="flex items-center gap-2">
            <div class="w-10 h-10 flex items-center justify-center">
              <img
                src="../../../assets/image/logo/nginx.png"
                alt=""
                class="w-8 h-8"
              />
            </div>
            <p>NGINX</p>
          </div>

         </div>
      </div>
    </div>




  <!-- </div> -->
</main>

<div class="bg-black">
  <!-- footer/extra section -->
</div>
